# Visual Studio
.vs
bin
obj

# Nuget
packages/**/*.nupkg
packages/**/*.pdb
packages/**/*.xml

# Unused files from Nuget packages folder
packages/xunit.extensibility.execution.2.1.0/lib/dnx451/xunit.execution.dotnet.dll
packages/xunit.extensibility.execution.2.1.0/lib/dotnet/xunit.execution.dotnet.dll
packages/xunit.extensibility.execution.2.1.0/lib/monoandroid/xunit.execution.dotnet.dll
packages/xunit.extensibility.execution.2.1.0/lib/monotouch/xunit.execution.dotnet.dll
packages/xunit.extensibility.execution.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.execution.dotnet.dll
packages/xunit.extensibility.execution.2.1.0/lib/win8/xunit.execution.dotnet.dll
packages/xunit.extensibility.execution.2.1.0/lib/wp8/xunit.execution.dotnet.dll
packages/xunit.extensibility.execution.2.1.0/lib/wpa81/xunit.execution.dotnet.dll
packages/xunit.extensibility.execution.2.1.0/lib/xamarinios/xunit.execution.dotnet.dll
packages/xunit.extensibility.core.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.core.dll
packages/xunit.extensibility.core.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.core.dll.tdnet
packages/xunit.extensibility.core.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.runner.tdnet.dll
packages/xunit.extensibility.core.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.runner.utility.desktop.dll
packages/xunit.abstractions.2.0.0/lib/portable-net45+win+wpa81+wp80+monotouch+monoandroid+Xamarin.iOS/xunit.abstractions.dll
packages/xunit.assert.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.assert.dll
packages/xunit.core.2.1.0/build/dnx451/_._
packages/xunit.core.2.1.0/build/monoandroid/_._
packages/xunit.core.2.1.0/build/monotouch/_._
packages/xunit.core.2.1.0/build/portable-net45+win8+wp8+wpa81/xunit.core.props
packages/xunit.core.2.1.0/build/win8/_._
packages/xunit.core.2.1.0/build/win81/xunit.core.props
packages/xunit.core.2.1.0/build/wp8/_._
packages/xunit.core.2.1.0/build/wpa81/xunit.core.props
packages/xunit.core.2.1.0/build/xamarinios/_._
